* {
  box-sizing: border-box;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}
header {
  background-color: #002244;
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 2rem;
  color: #fb4f14;
  border-bottom: 5px solid #fb4f14;
}

main {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

h2 {
  font-size: 1.5rem;
}

.scores {
  margin-left: 3%;
}

.timer {
  margin-right: 3%;
}

.card {
  background-color: #fb4f14;
  width: 40%;
  text-align: center;
  font-size: 1.5rem;
  padding: 5px;
  display: flex;
  flex-direction: column;
}
