* {
  box-sizing: border-box;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --white: #fff;
  --navy: #002244;
  --orange: #fb4f14;
}

body {
  display: flex;
  flex-direction: column;
}
header {
  background-color: var(--navy);
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 2rem;
  color: var(--orange);
  border-bottom: 5px solid var(--orange);
}

main {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--navy);
  padding: 15px;
  border-top: 5px solid var(--orange);
  min-height: 100vh;
}

.title {
  font-size: 3rem;
  padding: 20px;
}
.questions {
  font-size: 1.5rem;
  padding: 5px;
}

.scores {
  margin-left: 3%;
}

.timer {
  margin-right: 3%;
}

.card {
  background-color: var(--orange);
  color: var(--white);
  width: 50%;
  text-align: center;
  font-size: 1.5rem;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  height: 500px;
  border-radius: 8px;
}

.quiz {
  background-color: var(--orange);
  color: var(--white);
  width: 50%;
  text-align: center;
  font-size: 1.5rem;
  padding: 15px;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  height: 500px;
  border-radius: 8px;
}

.button {
  padding: 5px;
  width: 25%;
  max-height: 50px;
  margin: 15px;
  color: var(--white);
  background-color: #002244;
  flex-grow: 1;
  font-size: 1.25rem;
  border-radius: 8px;
}

.start-button {
  padding: 5px;
  width: 25%;
  max-height: 50px;
  margin: 15px;
  color: var(--white);
  background-color: #002244;
  flex-grow: 1;
  font-size: 1.25rem;
  border-radius: 8px;
}

.button:hover {
  border: 2px solid var(--white);
  color: var(--orange);
}

.hidden {
  display: none;
}

.shown {
  background-color: var(--orange);
  color: var(--white);
  border-radius: 8px;
  width: 15%;
  text-align: center;
  font-size: 1.5rem;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
  height: 4.5rem;
}

.start-button:hover {
  border: 2px solid var(--white);
  color: var(--orange);
}

.form {
  display: flex;
  align-items: center;
}
